package events

import (
	"net/http"

	"github.com/br-lemes/golem/pkg/catalog"
	"github.com/br-lemes/golem/pkg/schemas"
	"github.com/br-lemes/golem/ui/components/datatable"
	"github.com/br-lemes/golem/ui/layouts"
	"github.com/br-lemes/golem/ui/routes"
	"github.com/br-lemes/golem/ui/shadcn/icon"
)

var route *routes.Node

func init() {
	route = routes.RegisterRoute(routes.Definition{
		Label: "Events",
		Path:  "/catalog/events",
		Icon:  icon.CalendarDays(icon.Props{Class: "shrink-0 size-4"}),
		Handler: func(_ *http.Request) (templ.Component, int) {
			return List(catalog.Events.All()), http.StatusOK
		},
	})
}

templ List(events []*schemas.EventSchema) {
	@layouts.Base(layouts.Props{Route: route}) {
		@datatable.DataTable(datatable.DataTableProps[*schemas.EventSchema]{
			Data: events,
			Columns: []datatable.Column[*schemas.EventSchema]{
				{Header: "Code", Field: "code", Class: "font-mono"},
				{Header: "Name", Field: "name"},
				{Header: "Duration", Field: "duration"},
			},
		})
	}
}
